<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<style>
    table {
        margin: 20px 0;
        border-spacing: 0;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

    th, td {
        text-align: left;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-collapse: collapse;
        padding: 0.4em;
        caption-side: bottom;
    }
</style>

<body>
<h3>A message from <%= @params[:from] %></h3>

<p>
  <%= @params[:message] %>
</p>

<table>
  <thead>
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  </thead>

  <tbody>
  <%- @params[:fields].each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
  <%- end %>
  </tbody>
</table>

<p>
  Thanks for using the ponyexpress and have a great day!<br>
  Jack H Keetley (The joyous jockey of the Pony Express)
</p>
</body>
</html>
